-
    //- Настройки
    const meta = {
        title: 'Главная страница',
        description: 'Описание сайта',
        keywords: 'Ключевые слова через запятую',
        siteURN: 'main.html'
    }

    //- Деструктурируем объект
    const { title, description, keywords, siteURN } = meta

    //- Получаем имя файлов css и js
    const fileName = siteURN.replace( '.html', '' ) + '.min';