-
  //- Настройки
  const meta = {
    title: 'Главная страница',
    description: 'Описание сайта',
    keywords: 'Ключевые слова через запятую',
    siteURN: 'index.html'
  }

  const {title, description, keywords, siteURN} = meta

  const fileName = siteURN.replace('.html', '') + '.min';