-
  const designer = {
    name: 'evmajoar',
  }

  const developer = {
    name: 'evmajoar',
    email: 'evmajoar@gmail.com',
  }

  const setting = {
    language: 'ru',
    charset: 'utf-8',
    siteName: 'Название сайта',
    siteURL: 'http://localhost:3000/',
    imagePath: 'images/',
    faviconPath: 'favicon/'
  }

  const { language, charset, siteName, siteURL, imagePath, faviconPath } = setting;