-
  //- Настройки
  const setting = {
    language: 'ru',
    charset: 'utf-8',
    siteName: 'Название сайта',
    siteURL: 'http://localhost:3000/',
    imagePath: 'images/',
    faviconPath: 'favicon/'
  }

  //- Деструктурируем объект
  const { language, charset, siteName, siteURL, imagesPath, faviconPath } = setting;